#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.App {
  position: relative;
  box-sizing: border-box;
  padding: 3rem 5.5rem;
  padding-top: 5.5rem;
  background-color: var(--color-background, white);
  border-radius: 1rem;
  box-shadow: 0 0 .3rem rgb(0 0 0 / 20%);
}

.App__illustration {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  pointer-events: none;
  transform: translate(1rem, -52%);
}

.App__image {
  width: 100%;
  max-width: 7rem;
  height: auto;
}

.App__heading {
  padding: 0;
  margin: 0;
  margin-bottom: .5rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.App__caption {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.form__submit {
  padding: 1.5rem 4.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.2rem;
  color: white;
  cursor: pointer;
  background-color: var(--accent-primary, rgb(237 109 78));
  border: none;
  border-radius: .3rem;
}

.form__submit:disabled {
  cursor: not-allowed;
  background-color: var(--accent-dark, rgb(237 109 78 / 50%));
}